body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
.LogSig{
    border: black solid 3px;
    border-radius: 15px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.LogSig:hover{
    color: white;
    background-color: rgba(245, 245, 220, 0.137);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #000000, #434343);
    border: 1px solid;
}
.header h1{
    color: white;
    margin-left: 30px;
}
.header-links a{
    margin: 20px;
    text-decoration: none; 
    color: white;
}
.header-links a:hover{
    text-decoration: underline; 
}
.landing-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.left-part img{
    width: 400px;
    margin: 50px;
}
.right-part{
    margin-right: 180px;
    border:black  slid;
    padding: 35px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #8c8c8c, #efefef);
}
.big-title{
    text-align: center;
    background-image: linear-gradient(to right, #000000, #434343);
    color: white;
    margin-top: 60px;
}
.big-title h1{
    padding: 20px;
}
.card-img img{
    width: 150px;
}
.tools-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    
}
.card{
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
    margin: 10px;
    text-align: center;
    height: 280px;
    width: 180px;
}

.card-img img{
    margin-top: 10px;
}
.tools-card{
    align-items: center;
    justify-content: center;
    
}

.card-info{
    text-align: center;
}
.card-button{
    text-align: center;
}

.card-button a:hover{
    color: red;
}

.footbar{
    align-items: center;
    display: flex;
}
.footbar-r a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.footbar-r{
    text-align: right;
}
.footbar-r a:hover{
    text-decoration: underline;
}
.footbar-l{
    text-align: left;
    color: white;
}
.footbar{
    justify-content: center; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background-color: black;
}
.description{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 90px;
    /*background-color: #635e5e;*/
}
.description p{
    margin-left: 100px;
    margin-right: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.description img{
    width: 200px;
    margin-left: 300px;
}
.divLM{
    text-align: center;
    padding: 20px;
    height: 50px;
}

#LM:hover{
    color: white;
    background-color: rgb(50, 47, 47);
    font-size: 20px;
}
#LM {
    font-size:20px;
    color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;

}
.time img{
    width: 30px;
}
#languages{
    color: white;
    background-color: #000000;
}
#languagesImg{
    width: 15px;
}
#myname{
    text-decoration: none;
}